.pagination{
    width: 90%;
    display: flex;
    margin-bottom: 3rem;
    justify-content: center;
  }
.pagination__btn--Previous,
.pagination__btn--next{
    background-color: rgb(207, 26, 26);
    color: white;
    border: none;
    margin-right: 1rem;
    width: 100px;
    padding: 0.5rem;
    transition: 0.3s ease-in-out;
 }
.pagination__btn--Previous:hover,
.pagination__btn--next:hover{
    background-color: rgb(238, 22, 22);
 }
.pagination__form{
    width: 50px;
 }
.pagination__input{
    width: 100%;
    font-size: 2rem;
    text-align: center;
    border: none;
    font-weight: 700;
    border: 1px solid grey;
 }
.pagination__separation_mark{
    font-size: 2rem;
    font-weight: 700;
    margin-right: 0.5rem;
 }
.pagination__numberOfPages{
    margin: auto 1rem auto 0;
    font-size: 2rem;
    font-weight: 700;
 }